*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}

body{
    background-color: #202020;
    height: 100vh;
    
}

nav.menu-lateral{
    width:95px;
    height: 100%;
    background-color:#202020 ;
    padding: 40px 0 40px 1% ;
    box-shadow: 4px 0 0 #e17218;

    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: .5s;
}

nav.menu-lateral.expandir{
    width:250px;

}

.btn-expandir{
    width: 100%;
    padding-left: 10px;
    margin-bottom: 20px;
    margin-left: 16px;
}

.btn-expandir > i{
    color: #fff;
    font-size: 40px;
    cursor: pointer;
}

ul{
    height: 100%;
    list-style-type: none;
}

ul li.item-menu:hover{
    background: #e17218;
}
ul li.item-menu{
    transition: .5s;
}

ul li.ativo{
    background-color: #e17218;
}

ul li.item-menu a{
    color: #fff;
    text-decoration: none;
    font-size: 22px;
    padding: 20px 4%;
    display: flex;
    
    margin-bottom: 30px;
    line-height: 40px;
}

ul li.item-menu a .txt-link{
    margin-left: 70px;
    transition: .5s;
    opacity: 0;
}

nav.menu-lateral.expandir .txt-link{
    margin-left: 30px;
    opacity: 1;

}

ul li.item-menu a .icon{
    width: 35px;
}

ul li.item-menu a .icon > i {
    font-size: 30px;
}

h1{
    color:#fff;
}

.fundo-card{
    background-color: rgba(255, 255, 255, 0.1);
   
}
.fundo-card .card-title{
    color: #fff;
    font-size: 22px;
    font-style: oblique;
    
}

.fundo-card .card-text, 
.fundo-card .card-subtitle{
   color: #fff;
   font-size: 17px;
   text-align: justify;
}

.fundo-card .card-link {
    font-size: 20px;
    color: #e17218;
    text-decoration: underline;
    font-weight: bold;
    }

.txt-agendar{
    font-size: 22px;
    color: #fff;
}
